.font-small {
    font-size: 12pt
}

.font-medium {
    font-size: 14pt
}

.font-large {
    font-size: 16pt
}

.font-bold {
    font-weight: bold;
}

.padding-left {
    padding-left: 10px;
}

.regulation-list {
    overflow: auto;
    max-height: 170px;
}

.regulation-element {
    padding: 0px !important;
}